
  <% @events.each do |event| %>
  <div class="list-event"> <br>
  <a href="/events/<%= event.id  %>" class="athlete-index-name"><%= event.name %></a><br><br>
  <span class="athlete-nation"><b>Sport:</b>&nbsp;
  <%= event.sport.capitalize()  %></span><br><br>
 
  </div>
  <hr>
  <% end %>
  <br>
  <br>

  <!-- ACTUALLY ON THIS ONE IT MAY BE MORE SENSIBLE TO HAVE THE BUTTON TO ADD AN ATHLETE ELSEWHERE = OR MAYBE ONLY GET TO IT BY TYPING IT INTO THE BAR AS IT WOULDN'T BE A PUBLIC FACING ACTION -->
  <a href="/events/new">Add an event</a><br>
