<h2>Add an event</h2>

<form action="/events" method="post">
  <label for="name">Name:</label> 
  <input type="text" name="name"> 
  &nbsp;
  <label for="sport">Sport:</label>
  <select name="sport"> 
    <option value= "Rowing">Rowing </option>
    <option value= "Athletics">Athletics </option>
    <option value= "Gymnastics">Gymnastics </option>
    <option value= "Cycling">Cycling </option>
    <option value= "Tennis">Tennis </option>
    <option value= "Swimming">Swimming </option>
    <option value= "Golf">Golf </option>
    <option value= "Equestrian">Equestrian </option>
    <option value= "Rugby">Rugby </option>
    <option value= "Other">Other </option>
  </select>
  &nbsp;
  
  <input type="submit" value="Add Event">


</form>