<!DOCTYPE html>
<html>
<head>
  <title>Rio Olympics 2016</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
</head>
<header>
  <!-- <h1>Rio Olympics 2016</h1> -->
  <div class="header-banner">
    <a href="/rio"><img src="/images/logo-clear.png" class="logo"></a>
    <ul>
      <li><a href="/nations" class="main-link">Nations</a></li> 
      <li><a href="/athletes" class="main-link">Athletes</a></li> 
      <li><a href="/events" class="main-link">Events</a></li> 
    </ul>
  </div>
</header>
<body>
  <%= yield %>
</body>
<footer class="site-footer">&copy; 2016 Katrina Coutts</footer>
</html>