<!DOCTYPE html>
<html>
<head>
  <title>Rio Olympics 2016</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<header>
  <!-- <h1>Rio Olympics 2016</h1> -->
  <div class="header-banner">
  <img src="/images/Rio-2016-logo.jpg" class="logo">
  <ul>
    <button><li><a href="/nations">Nations</a></li></button> 
    <button><li><a href="/athletes">Athletes</a></li></button> 
    <button><li><a href="/events">Events</a></li></button> 
  </ul>
  </div>
</header>
<body>
  <%= yield %>
</body>
<footer class="site-footer">&copy; 2016 Katrina Coutts</footer>
</html>