<!DOCTYPE html>
<html>
<head>
  <title>Rio Olympics 2016</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <header>
    <h1>Rio Olympics 2016</h1>
  </header>
<%= yield %>
</body>
</html>