html, body {
  background: url('../images/brazil_image.jpg') no-repeat center center fixed;
  /*font-family: 'Oswald', sans-serif;*/
  font-family: 'Fjalla One', sans-serif;
  width: 100%;}

h1 {
  color: #097054;
  font-size: 60px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  display: inline-block;
  float: left;
}

table{
    border: 2px solid black;
    padding: auto, 0;
    border-collapse: collapse;
    background-color: rgba(90, 131, 181, 0.8);
    margin: 20px auto;
}

tr {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

td, th {
  border-left: 2px solid black;
  text-align: center;
  padding: 15px; 
}

th {
  font-size: 25px;
}

.header-banner{
  background-color: #00298C;
  opacity: 0.9;
  width: 100%;
  height: 270px;
  margin-top: 30px;
  padding-top: -20px;
}

.list-event{
  margin-left: 60px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-link {
  display: inline-block;
  float: right;
  padding: 20px;
  background-color: #DE1818;
  margin-right: 60px;
  margin-top: 90px;
}

.main-link {
  font-size: 20px;
  font-style: bold;
}

.participant-list {
  list-style-type: circle;
  font-size: 16px; 
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #FF9900;
}

h2 {
  font-size: 40px;
  color: #00298C;
  /*padding-left: 30px;*/
}

header {
  height: 270px;
}

.gold {
  color: gold;
}

.silver {
  color: silver;
}

.bronze {
  color: #CD7F32;
}

.points{
  color: tomato;
}

img {
  height: 220px;
  width: 300px;
  display: inline-block;
  float: right;
  margin-right: 100px;
  border-radius: 30px;
}

footer {
  margin-top: 50px;
}

p{
  margin-left: 40px;
}

h3{
  margin-left: 40px;
}

.delete {
  margin-left: 40px;

}

.wee_flag{
  height: 30px;
  width: 60px;
  border-radius: 10px;
  display: inline;
  float: left;
}

.med_flag{
  height: 50px;
  width: 75px;
  border-radius: 10px;
  display: inline;
  float: left;
}

.country {
  margin-left: -40px;
}

.nation_name{
  margin-left: -60px;
  color: #00289C;
  font-size: 25px;
}

.logo {
  float: left;
  height: 200px;
  width: 250px;
  margin-left: 100px;
  margin-top: 20px;
}

.table-medal{
  height: 60px;
  width: 58px;
  margin: 0 auto;
}

.event-table ul{
  list-style: none;
  text-align: left;
}

.athlete-table td{
  padding: 15px 45px;
}

.athlete-table{
  margin-left: 100px;
}

.event-content{
  margin-left: 100px;
}

