<div>
<% @nations.each do |nation| %>
<img src="<%= nation.flag %>" class="wee_flag"%> <a href="/nations/<%= nation.id  %>" class="nation_name"><%= nation.name %></a><br><br><br>
<% end %>
<br>
<br>
<a href="/nations/new">Add a nation</a><br>
</div>



