<div class="event-content">
<br><br>
<% @nations.each do |nation| %>
<a href="/nations/<%= nation.id  %>" class="nation_name"><img src="<%= nation.flag %>" class="med_flag"%> <%= nation.name %></a><br><br><br><br>
<% end %>
<br>
<br>
<a href="/nations/new" class="basic-link">Add a nation</a><br>
</div>






