<div>
<h1><%= @nation.name %></h1>

<!-- HERE WILL WANT TO LIST THIS NATION'S ATHLETES, ITS EVENTS AND ITS MEDALS AND POINTS AND RANKING -->

<!-- <h2>By: <%= @book.author %></h2>

<h4>Members who have rented this:</h4>
<ul>
<% @book.members.each do |member| %>
  <li><b>Name: </b><%= member.name %> &nbsp; <b>Address:</b> <%= member.address %> </li> -->
<p></p>
<% end %>
</ul>
</div>