<div>
<h1><%= @nation.name %></h1>

<h2>Athletes:</h2>
<% @nation.athletes.each do |athlete|  %>
  <%= athlete.first_name %> <%= athlete.last_name  %> <br>
  <% end %>
<br>


<p></p>

<form action="/nations/<%= @nation.id  %>/delete" method="post">
  <input type="submit" value="Delete">
</form>
</div>


<!-- on this page we'll want to call on new methods which will allow us to list the nation's athletes, the events its athletes are taking part in and the medals and points the country has - and later on potentially its ranking. -->


