<h2>Add an athlete</h2>

<form action="/athletes" method="post">
  <label for="first_name">First name:</label> 
  <input type="text" name="first_name"> 
  <label for="last_name">Last name:</label> 
  <input type="text" name="last_name">
  &nbsp;
  <label for="nation_id">Nation:</label>
  <select name="nation_id"> 
    <% @nations.each do |nation| %> 
    <option value= "<%= nation.id%>"><%= nation.name %></option>
    <% end %>
  </select>&nbsp;
  <label for="image">Image url:</label>
  <input type="text" name="image"> 

  &nbsp;
  <input type="submit" value="Add Athlete">


</form>