<div>
  <% @participations.each do |participation| %>
    Event: <%= participation.event.name  %>    Athlete: <%= participation.athlete.first_name  %> <%= participation.athlete.last_name  %><br><hr>
  <% end %>
  <p></p>
  <a href="/participations/new">Add another participant</a>

</div>